---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "../styles/global.css";
// Supports weights 200-800
import "@fontsource-variable/atkinson-hyperlegible-next";

const quotes = [
  {
    quote:
      "Vive una buena vida. Si existen dioses y son justos, no les importará cuán devoto has sido, sino que te recibirán según las virtudes por las que viviste. Si existen dioses pero son injustos, entonces no deberías querer adorarlos. Y si no existen dioses, entonces habrás desaparecido, pero habrás vivido una vida noble que perdurará en la memoria de tus seres queridos.",
    author: "Marco Aurelio",
  },
  {
    quote:
      "El amor es libertad. No es sensato que los trapecistas aprendan a desafiar a la muerte sin una red de seguridad. El amor te da la libertad de explorar los rincones más extraños de tu alma, tus ambiciones más peculiares. Amar a alguien es darle la libertad de convertirse en quien realmente es, porque sabe que estarás ahí si cae.",
    author: "Steph Ango",
  },
  {
    quote:
      "Debo morir. ¿Debo entonces morir lamentándome? Debo ser encadenado. ¿Debo entonces también lamentarme? Debo ir al exilio. ¿Acaso alguien puede impedirme ir con una sonrisa, con alegría y con contento? Dime el secreto que posees. No lo haré, porque eso está en mi poder. Pero te encadenaré. Hombre, ¿de qué hablas? ¿Encadenarme a mí? Puedes atar mi pierna, pero mi voluntad, ni siquiera el mismo Zeus puede someterla. Te arrojaré a prisión. Mi pobre cuerpo, querrás decir.",
    author: "Epicteto",
  },
  {
    quote:
      "A nuestra amistad imponente he levantado esta pequeña piedra. Sabino, te buscaré por siempre. Si las cosas suceden como dicen y te unes a los muertos, para beber del río que ayuda a los hombres a olvidar, por favor no bebas la gota que te haga olvidarme.",
    author: "Inscripción anónima en la Batalla de Salamina, 480 AEC",
  },
];
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <header class="p-4 mx-auto max-w-md">
      <h1 class="text-2xl font-bold">René</h1>
      <p class="text-gray-500">
        Algunas cositas de internet y libros que me gustaron.
      </p>
    </header>
    <main class="divide-y divide-gray-200">
      {
        quotes.map((quote) => (
          <div>
            <dir class="p-4 max-w-md mx-auto space-y-2">
              <p class="text-lg text-balance">{quote.quote}</p>
              <p class="text-gray-500">{quote.author}</p>
            </dir>
          </div>
        ))
      }
    </main>
  </body>
</html>

<style>
  body {
    font-family: "Atkinson Hyperlegible Next Variable", sans-serif;
  }
</style>
